@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@font-face {
  font-family: 'RealtimeRounded';
  src: url('/fonts/realtimeroundedtest-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RealtimeRounded';
  src: url('/fonts/realtimeroundedtest-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RealtimeRounded';
  src: url('/fonts/realtimeroundedtest-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RealtimeRounded';
  src: url('/fonts/realtimeroundedtest-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RealtimeRounded';
  src: url('/fonts/realtimeroundedtest-semibold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'RealtimeRounded', sans-serif;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('/fonts/univers-next-pro-light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('/fonts/univers-next-pro-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('/fonts/univers-next-pro-bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('/fonts/univers-next-pro-medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'UniversNextPro';
  src: url('/fonts/univers-next-pro-black') format('opentype');
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: 'UniversNextPro', sans-serif;
}



@theme {
  --color-zariabg: #faf8f6;
  --color-zariablack: #1d1d1d;
  --color-zaria: #9cdfdf;
  --color-deathzone: #0009;
  --color-productcard: #FBF7F6;
  --color-productcard-sale-badge: #d54d4d;
  --color-zaria-salmon: #CEA1A2;
  --color-zaria-aquamarina: #7A9FAB;
  --color-zaria-crema: #F3E5D8;
  --color-zaria-hover-aquamarina: #364664;
  --color-zaria-purple: #BABFE5;


  
  --breakpoint-lg: 68rem;


  --font-vollkorn: var(--font-vollkorn), serif;
  --font-archivo: var(--font-archivo), sans-serif;
  --font-montserrat: var(--font-montserrat), serif;
  --font-realtime: 'RealtimeRounded', sans-serif;
  --font-univers-next: 'UniversNextPro', sans-serif;
}


.cormorant-text {
  font-family: var(--cormorant), serif;
}