@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}


@theme {
  --color-zaria: #81D8D0;
  --color-deathzone: #0009
}
